doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/myStyle.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel='stylesheet', href='/stylesheets/micromodal.css')
    script(src="/javascripts/micromodal.min.js")
    title= 水番
  body
    .wrap2
      include ./_header.pug
      block content
